




BODY {
background-image : url(/images/simple_dashed.png);
background-repeat : repeat;
background-position : 50% 50%;
background-attachment : fixed;
color : #ffffff;
font-family: "helvetica";
font-size: .9em;
}

.foo {
	display:inline-block;
	width: width;
	height: height;
	margin: 5px 5px 5px 5px;
}		

#summstats {
	text-align:center;
	padding:30;
	float:none;
	margin-bottom: 3em;
}

#summicon {
	text-align:center;

	
}


.toggle-gallery {
  display: none;
}

.toggle-gallery + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-gallery + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-gallery:checked + label + div {
  display: block;
}

.toggle-gallery + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-gallery:checked + label:before {
  content: "\2212";
} 

#gameContainer {
	margin-left: 3em;
	margin-top: 3em;
	margin-bottom: 4em;
}






/*.noffswitch {
    position: relative; width: 79px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	    }
	        .onoffswitch-checkbox {
		    display: none;
		        }
			    .onoffswitch-label {
			        display: block; overflow: hidden; cursor: pointer;
				    border: 2px solid #EEEEEE; border-radius: 0px;
				        }
					    .onoffswitch-inner {
					        display: block; width: 200%; margin-left: -100%;
						    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
						        -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
							    }
							        .onoffswitch-inner:before, .onoffswitch-inner:after {
								    display: block; float: left; width: 50%; height: 17px; padding: 0; line-height: 17px;
								        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
									    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
									        }
										    .onoffswitch-inner:before {
										        content: "Light";
											    padding-left: 10px;
											        background-color: #FFFFFF; color: #999999;
												    }
												        .onoffswitch-inner:after {
													    content: "Dark";
													        padding-right: 10px;
														    background-color: #FFFFFF; color: #999999;
														        text-align: right;
															    }
															        .onoffswitch-switch {
																    display: block; width: 19px; margin: -1px;
																        background: #0A0A0A;
																	    border: 2px solid #EEEEEE; border-radius: 0px;
																	        position: absolute; top: 0; bottom: 0; right: 58px;
																		    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
																		        -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
																			    }
																			        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
																				    margin-left: 0;
																				        }
																					    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
																					        right: 0px;
																						    }
																						    noffswitch {
																						        position: relative; width: 79px;
																							    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
																							        }
																								    .onoffswitch-checkbox {
																								        display: none;
																									    }
																									        .onoffswitch-label {
																										    display: block; overflow: hidden; cursor: pointer;
																										        border: 2px solid #EEEEEE; border-radius: 0px;
																											    }
																											        .onoffswitch-inner {
																												    display: block; width: 200%; margin-left: -100%;
																												        -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
																													    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
																													        }
																														    .onoffswitch-inner:before, .onoffswitch-inner:after {
																														        display: block; width: 50%; height: 17px; padding: 0; line-height: 17px;
																															    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
																															        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
																																    }
																																        .onoffswitch-inner:before {
																																	    content: "Light";
																																	        padding-left: 10px;
																																		    background-color: #FFFFFF; color: #999999;
																																		        }
																																			    .onoffswitch-inner:after {
																																			        content: "Dark";
																																				    padding-right: 10px;
																																				        background-color: #FFFFFF; color: #999999;
																																					    text-align: right;
																																					        }
																																						    .onoffswitch-switch {
																																						        display: block; width: 19px; margin: -1px;
																																							    background: #0A0A0A;
																																							        border: 2px solid #EEEEEE; border-radius: 0px;
																																								    position: absolute; top: 0; bottom: 0; right: 58px;
																																								        -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
																																									    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
																																									        }
																																										    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
																																										        margin-left: 0;
																																											    }
																																											        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
																																												    right: 0px;
																																												        }
























































