



h1 {
color: #fff;
font-size: 110px;
font-style: italic;
text-shadow:1px 1px 0 #fff,
-1px -1px 0 #fff,
1px -1px 0 #fff,
-1px 1px 0 #fff,
0px 1px 0 #fff,
1px 0px 0 #fff,
0px -1px 0 #fff,
-1px 0px 0 #fff,
4px 4px 3px #000;
margin:0;
padding: 0;
}


body {
background-image : url(/images/blackorchid2.png);
background-repeat : repeat;
background-position : 50% 50%;
background-attachment : fixed;
color : #ffffff;
font-family: 'Source Sans Pro', sans-serif;
text-align: center;
margin: 0;
padding:0;
}

p {
  text-align:center;
}
.form_wrapper {
	text-align: center;
	margin-top: 25px;
}

.hello_wrapper {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 10px;
}

.search1 {
    width: 90%;
    height: 2em;
    padding: 15px 0px 15px 8px;
    border-radius: 5px;
    box-shadow: inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.2);
    border: 1px solid rgb(47, 43, 43);
    margin-bottom: 10px;
    margin-top: 10px;
    color: #6E6E6E;
    text-shadow: #000 0px 1px 5px;
    text-align: center;
    font-size: 2em;
}
.submit {
  border-radius:5px;
  background:rgba(0,0,0,0.2);
  border:1px solid rgba(0,0,0,1);
  color:#6E6E6E;
  text-shadow:#000 0px 1px 5px;
  text-align: center;

}

/* Navigation Bar  */


 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}



/*////////// Recent Game cards ///////////////*/

 .gamearea {
  /*margin-left: 12.5%;*/
  /*margin-right: 12.5%;*/
  /*width: 70%;*/
  text-align: center;
  /*background-color: #fff;*/
  padding:0;
}

.cardstats{
 
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  background:rgba(0,0,0,0.2);
  border: solid 1px #717171;
  color:#6E6E6E;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
  margin-top: 1em;
  
}





.extendedbackground  {
  background-color:#D2D2D2;
  color: black;
  margin-left: 15px; 
  margin-bottom: 15px;
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
  border-bottom:  solid 1px gray;
  border-left: solid 1px gray;
  padding-top: 1.7em;
 
}

.keystats {
  margin-left: 22%;
  font-size: .8em;
  text-align:left;
  margin-top: 3px;
}

.keystat {
  margin: 13em;
  padding-right: 6em;
}


.text {

  width: 50%;
  padding: 15px;
  font-size: .9em;
  float: left;
}

.text2 {
  padding: 15px;
  width: 50%;
  font-size: .9em;
  
}

.stat {
 text-align: left;
}

.value {
 
  text-align: right;

  

 
}

/*li {*/
/*  list-style-type: none;*/
/*  padding: 0;*/
/*  margin:0;*/
/*}*/



.name {
  text-align: left;
  /*float: left;*/
  margin-left: 1em;
  margin-top: 1em;
  color: white;
}

.kda {
  /*margin: 10px;*/
  color: white;
  float: right;
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
}

.victory {
  text-align:right;
  float:right;
  margin-top: 1em;
  margin-right: 1em;
  color: green;
}

.defeat {
  text-align:right;
  float:right;
  margin-top: 1em;
  margin-right: 1em;
  color: red;
}
.thumbnail {
  float: left;
  margin-right: 2em;
  margin-left: 2em;
  border: solid 4px white;
  outline: solid 2px black;
  background-color: black;
  position: relative;
  
  
}  

.items {
  /*float: right;*/
  /*width: 75%;*/
  /*margin: .4em;*/
  padding: 0;
  /*margin-left: 6em;*/
  /*margin-right: 1em;*/
  /*margin-top: 1em;*/
  /*padding-right: 2em;*/
  /*text-align: center;*/
  width: 100%;
  /*margin:1em;*/
  border: none;
  text-align: left;
  border-top: solid 20px white;
  border-bottom: solid 20px white;
  outline: solid 1px black;
}

.images {
  float: right;
}

.blanks {
  float: right;
}







/*Random Game Cards*/

/*.card {*/
/*  text-align: center;*/
/*  margin-left: 32%;*/
/*  margin-right:32%;*/
/*}*/

/*Random Game Cards*/

/*table {*/
/*  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);*/
/*  background:rgba(0,0,0,0.2);*/
/*  border: solid 1px #717171;*/
/*  color:#6E6E6E;*/
/*  float: left;*/
/*  margin: .9em;*/
/*  box-align: center;*/
/*  min-height: 150px;*/
/*  width: 15em;*/
/*  margin: .3em;*/
 
 
/*}*/

/*tr {*/
/*  text-align: center;*/
/*}*/

/*th {*/
/*  font-size: .7em;*/
/*  background: #666;*/
/*  color: #FFF;*/
/*  padding: 2px 6px;*/
/*  border-collapse: separate;*/
/*  border: 1px solid #000;*/
/*  text-align: left;*/
/*}*/

/*td {*/
/*  float: left;*/
/*  text-align: left;*/
/*  position: relative;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  padding: .5%;*/
/*}*/

/*//////////////////////*/


 


/*@media screen and (orientation : landscape) {*/
@media only screen and (min-device-width: 768px) and (orientation : landscape){
  
.search1 {
width:35em;
padding:15px 0px 15px 8px;
border-radius:5px;
box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
background:rgba(0,0,0,0.2);
border:1px solid rgba(0,0,0,1);
margin-bottom:10px;
margin-top: 10px;
color:#6E6E6E;
text-shadow:#000 0px 1px 5px;
text-align: center;
}
.nav li {
  width: 120px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  font-size: 1.2em;
}
 
 /*Option 1 - Display Inline */
.nav li {
  display: inline-block;
  margin-right: -4px;
}


body {
  text-align: center;
}


p {
text-align:center;
}


.gamearea {
  /*margin-left: 12.5%;*/
  /*margin-right: 12.5%;*/
  /*width: 70%;*/
  text-align: center;
  /*background-color: #fff;*/
  padding:0;
}

.cardstats{
 
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  background:rgba(0,0,0,0.2);
  border: solid 1px #717171;
  color:#6E6E6E;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 28%;
  margin-right: 28%;
}

.extendedbackground {
  background-color:#D2D2D2;
  color: black;
  margin-left: 15px; 
  margin-bottom: 15px;
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
  border-bottom:  solid 1px gray;
  border-left: solid 1px gray;
  padding-top: 8px;  
 
}

.keystats {
  margin-left: 22%;
  font-size: .8em;
  text-align:left;
  margin-top: 3px;
}

.keystat {
  margin: 13em;
  padding-right: 6em;
}


.text {
  padding: 15px;
  width: 50%;
  font-size: .8em;
  float: left;
}

.text2 {
  padding: 15px;
  width: 50%;
  font-size: .8em;
 
}


.stat {
  text-align: left;
}

.value {
  text-align: right;
  
 

 


}

.thumbnail {
  float: left;
  margin-right: 2em;
  margin-left: 2em;
  border: solid 4px white;
  outline: solid 2px black;
  background-color: black;
  position: relative;
 
  
}  


.items {
  float: none;
  width: 100%;
  /*margin-left: 1em;*/
  margin-right: 1em;
  margin-top: 1em;
  margin-left: 0;
  text-align: left;
  padding: 0;
  /*margin-left: .1em;*/
  /*margin-right: .1em;*/
  /*margin-top: .1em;*/
  /*margin-bottom: .1em;*/
  /*box-shadow:none;*/
  border-top: solid 20px white;
  border-bottom: solid 20px white;
 
  outline: solid 1px black;
  background:rgba(0,0,0,0.2);
  /*box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);*/
  /*-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);*/
  /*-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);*/
}

.name {
  text-align: left;
  /*float: left;*/
  margin-left: 1em;
  padding: 1em;
  color: white;
  /*background:black;*/
}

.kda {
  /*margin: 10px;*/
  color: white;
  float: right;
  text-align: right;
  padding: 1em;
}

.victory {

  text-align:right;
  float:right;
  margin-top: 2em;
  margin-right: 1em;
  color: green;
}


.defeat {
  text-align:right;
  /*float:right;*/
  margin-top: 2em;
}
}
/*Random Game Cards*/

/*.card {*/
/*  text-align: center;*/
/*  margin-left: 38%;*/
/*  margin-right: 38%;*/
/*}*/

/*Random Game Cards*/

/*table {*/
/*  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);*/
/*  background:rgba(0,0,0,0.2);*/
/*  border: solid 1px #717171;*/
/*  color:#6E6E6E;*/
  /*float: left;*/
  /*margin: .9em;*/
  /*box-align: center;*/
/*  position: relative;*/
/*  min-height: 150px;*/
/*  width: 100%;*/

 
 
/*}*/

/*tr {*/
/*  text-align: center;*/
/*}*/

/*th {*/
/*  font-size: .7em;*/
/*  background: #666;*/
/*  color: #FFF;*/
/*  padding: 2px 6px;*/
/*  border-collapse: separate;*/
/*  border: 1px solid #000;*/
/*  text-align: left;*/
/*}*/

/*td {*/
/*  float: left;*/
/*  text-align: left;*/
/*  position: relative;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  padding: .5%;*/
/*}*/

/*//////////////////////*/
/*}*/
