
BODY {
background-image : url(/images/simple_dashed.png);
background-repeat : repeat;
background-position : 50% 50%;
background-attachment : fixed;
color : #ffffff;

}

.foo {
	display:inline-block;
	width: width;
	height: height;
	margin: 5px 5px 5px 5px;
}		

